footer {
  background-color: #F0F2F3;
  color: #7F8285;
  padding: 8px 0;
}

.content {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
}

.navItem {
  margin-right: 16px;
  cursor: pointer;
}

.navItem:hover {
  color: #E00000;
}

@media screen and (max-width: 480px) {
  .content {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav {
    margin-bottom: 8px;
  }
}
